body {
    margin: 0;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
}

hr {
    margin-top: 100px;
    border: 2px solid;
    width: 100px;
}

h2 {
    font-family: 'Song Myung', serif;
}

img {
    max-width: 100%;
}

p.sub_title {
    font-size: 20px;
    margin-bottom: 40px;
}

img.profile {
    width: 250px;
    border-radius: 100%;
}

table {
    max-width: 666px;
}

table.title {
    margin-top: 30px;
    margin-bottom: 90px;
    font-size: x-large;
}

span.tel_icon {
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-image: url("icon/phone-white.svg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
}

span.sms_icon {
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-image: url("icon/sms-white.svg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
}

footer.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}

.my-gallery figure {
    margin: 0;
    display: inline-block;
}

.my-gallery img {
    width: 130px;
}