body {
    margin: 0;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
}

hr {
    margin-top: 150px;
    border: 2px solid;
    width: 100px;
}

p.sub_title {
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 30px;
}

p.character {
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0;
}

p.parents {
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
}

p.bio {
    font-size: large;
}

img {
    max-width: 100%;
}

img.profile {
    margin-top: 60px;
    width: 250px;
    border-radius: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 666px;
}

table.title {
    height: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Song Myung', serif;
    font-size: x-large;
}

table.contact {
    min-width: 300px;
    max-width: 400px;
    font-family: 'Song Myung', serif;
    margin-bottom: 30px;
}

td.box {
    width: 90px;
    font-weight: bold;
    border: 5px solid;
}

p.main_text {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'Song Myung', serif;
    font-size: 15pt;
}

p.address {
    font-family: 'Song Myung', serif;
}

p.sub_text {
    font-size: 15pt;
}

a.map {
    font-size: 16pt;
}

span.tel_icon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-image: url("icon/phone-white.svg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
}

span.sms_icon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-image: url("icon/sms-white.svg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
}

footer.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-family: 'Song Myung', serif;
}

.my-gallery figure {
    margin: 0;
    display: inline-block;
}

.my-gallery img {
    width: 130px;
}

/* yeon-sung-regular - latin_korean */
@font-face {
    font-family: 'Yeon Sung';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/yeon-sung-v8-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Yeon Sung Regular'), local('YeonSung-Regular'),
    url('fonts/yeon-sung-v8-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/yeon-sung-v8-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/yeon-sung-v8-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/yeon-sung-v8-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/yeon-sung-v8-latin_korean-regular.svg#YeonSung') format('svg'); /* Legacy iOS */
}

/* song-myung-regular - latin_korean */
@font-face {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/song-myung-v8-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Song Myung Regular'), local('SongMyung-Regular'),
    url('fonts/song-myung-v8-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/song-myung-v8-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/song-myung-v8-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/song-myung-v8-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/song-myung-v8-latin_korean-regular.svg#SongMyung') format('svg'); /* Legacy iOS */
}