body {
	font: 0.8em/21px arial,sans-serif;
}

.checkbox, .radio {
	width: 18px;
	height: 25px;
	padding: 0;
	background: url('checkbox.png');
	background-repeat:no-repeat;
	display: block;
	clear: left;
	float: left;
	cursor:pointer;
}
.radio {
	background: url('radio.png');
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.gif) no-repeat;
	overflow: hidden;
}
