
/************************************************* Page(페이지) 레이아웃 설정 *************************************************/

body { _text-align:left; _height:100%; _width:100%; _overflow:auto;
		scrollbar-arrow-Color: #efefef;
        scrollbar-Track-Color: #f6f6f8; 
        scrollbar-base-Color: #dfdfdf;
        scrollbar-Face-Color: #dfdfdf;
        scrollbar-3dLight-Color: #dfdfdf;         
        scrollbar-DarkShadow-Color: #dfdfdf;
        scrollbar-Highlight-Color: #dfdfdf;
        scrollbar-Shadow-Color: #dfdfdf}


/* Layout */
#wrap_mcard {width:100%}
#wrap_mcard #content_mcard {float:left; width:100%;}
#wrap_mcard .cont_mcard_main {float:left; width:100%;}
#footer_mcard {width:100%;}


/* another Layout */
#wrap_mcard_pop,
#wrap_mcard_page {width:100%;}
#content_mcard_pop,
#content_mcard_page {text-align:left; background-color:#FFFFFF;}